[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/AIApps
ExecStart=/home/ubuntu/anaconda3/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          --timeout 600 \
         AIApps.wsgi:application
[Install]
WantedBy=multi-user.target
~                             